@import '../../scss/mixins';
@import '../../scss/variables';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  height: $header-height;
  gap: 10px;

  &::after {
    @include divider;
    width: 100%;
    bottom: 0;
    height: 1px;
  }

  .title {
    width: 166px;
    height: 27px;
    margin: 21px 31px;

    span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;

      letter-spacing: 0.02em;

      color: #252a32;
    }
  }
}
